body {
    background: linear-gradient(35deg, #CCFFFF, ghostwhite, #AEC381) fixed;
    width: 100%;
    height: 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
footer {
    padding: 10px 0 0 0;
    text-align: center;
}
h1, h2 {
    text-align: center;
}
h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0 0 15px 0;
}
h3, legend, #exercise-dropdown-label, #exercise-choose-date {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
h3 {
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
}
p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}
ol, ul {
    text-align: left;
    list-style-position: inside;
    padding: 0 0 0 10px;
    margin: auto;
}
fieldset {
    border-width: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 15px;
}
hr {
    border-top: 1.5px dashed black;
    margin: 50px auto 50px auto;
    width: 100%;
}
button {
    background-color: #CCFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
}
.full-card {
    background-color: white;
    max-width: 80vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#title {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-size: 51px;
    margin: auto;
    padding: 50px 0 10px 0;
}
#motivational-quote {
    padding: 0 0 50px 0;
    font-family: "Indie Flower", cursive;
    font-weight: 200;
}
.avatar {
    display: inline;
    margin: auto;
    height: auto;
    width: 80%;
    border-radius: 50px;
    border: black dashed 1.5px;
}
[type='checkbox']{
    margin: 10px 0 15px 0;
}
.user-card {
    flex: 1 1 250px;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    margin: 0 0 0 25px;
    justify-content: center;
    display: flex;
}
.container {
    display: grid;
    grid-gap: 5px;
    margin-left: auto;
    margin-right: auto;
}
.user.container {
    margin: auto;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 80%;
}
.stats.container {
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    align-content: center;
}