body {
    background: linear-gradient(35deg, #CCFFFF, ghostwhite, #FFCCCC);
    width: 100%;
    height: 100%;
}
header, main {
    align-content: center;
    text-align: center;
}
h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0 0 15px 0;
}
h3, legend {
    font-family: "Arial Narrow", sans-serif;
    font-size: 18px;
    margin: 0 10px 0 0;
    font-weight: normal;
}
.user-stats {
    justify-content: space-evenly;
    display: flex;
    max-height: 200px;
    padding: 10px;
}
#title {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-size: 51px;
}
p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}
ol {
    text-align: left;
    list-style-position: inside;
}
.image-cropper {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.user-icon {
    display: inline;
    margin-left: -25%; /* centers the image */
    height: 100%;
    width: auto;
}
[type='checkbox']{
    margin: 10px 0 15px 0;
}
.user-card {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
}
.stats-block {
    display: flex;
    justify-content: space-between;
}
.full-card {
    background-color: white;
    max-width: 80vh;
    min-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
}
.content-block {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#thumbnail {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
fieldset {
    border-width: 0;
    padding: 0 25px 25px 25px;
}
